.note-text {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .note-body {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }

  .container-md {
    position: center;
    padding: 10px;
    justify-content: center;
    border-radius: 50%;
  }