div#msg {
  display: none;
}

.form-group {
  position: relative;
}

.dropdown {
  position: relative;
}

.form-select {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.navbar {
  background-color: rgb(139, 176, 246);
}

.center-box {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 110px;
}

.form-label {
  text-align: left;
}
.container-center {
  text-align: left;
  padding: 0;
  margin-top: -90px;
}

.container-about {
  background-color: pink;
  padding: 10px;

}


.container-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.8;
  width: 100%; 
  height: 100vh; 
}

.row-spacing {
  margin-bottom: 10px;
}

body {
  padding: 60px;
}
main {
  max-width: 1400px;
  margin: 0 auto;
}


.container-md {
  position: center;
  padding: 10px;
  justify-content: center;
  border-radius: 50%;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-card {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: center;
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  margin-top: -150px;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.card {
  border-radius: 25px;
  display: inline-block;
  height: 400px;
  width: 55%;
  margin-right: 2%;
  vertical-align: top;
  background-color: #fff;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265df2;
}

#profilePicture {
  max-width: 50px;
  max-height: 50px;
}

.welcome {
  color: cadetblue;
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 3px #c1c1c1;
}

.my-note-title {
  color: cadetblue;
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 3px #c1c1c1;
}


.post {
  flex: 1;
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.card {
  height: 100%;
}

html {
  height: 100%;
}


body {
  background-color: pink;
}